.App {
  text-align: center;
}
.Modal {
  z-index: 100;
  position:absolute;
  background: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

Button {
  z-index: 100;
  postion: absolute;
  background: white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Map {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

.That {
  position: absolute;
  z-index: 2;
}

p,
h1,
.mapbox-popup-content,
.logoText {
  font-family: "Russo One", sans-serif;
}

.Navbar {
  position: absolute;
  z-index: 20;
  top: 0;
}

.logoHeight {
  max-height: 100px;
}

.popupStyle {
  background-color: aliceblue;
}

.mapbox-popup {
  background: transparent;
}